@import "tailwindcss";

@font-face {
  font-family:"Poppins" ;
  src: url('/fonts/Poppins-Regular.ttf')format("opentype");
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #F8F4F3;
}

.slider-container img{
  height: 750px;
  width: 1000px;
  object-fit: cover;
}